*/5     *    *    *    *    /bin/sh /var/www/crumpler.eu/htdocs/cron.sh
*/15    *    *    *    *    /usr/bin/php /var/www/crumpler.eu/scripts/product/importStock.php && /usr/bin/php /var/www/crumpler.eu/bin/magerun.phar --root-dir="/var/www/crumpler.eu/htdocs" index:reindex cataloginventory_stock
0       8    *    *    *    /usr/bin/php /var/www/crumpler.eu/scripts/product/importPrice.php && php /var/www/crumpler.eu/bin/magerun.phar --root-dir="/var/www/crumpler.eu/htdocs" index:reindex:all && php /var/www/crumpler.eu/bin/magerun.phar --root-dir="/var/www/crumpler.eu/htdocs" cache:clean && php /var/www/crumpler.eu/bin/magerun.phar --root-dir="/var/www/crumpler.eu/htdocs" cache:flush && /usr/bin/php /var/www/crumpler.eu/scripts/feedGenerator/createFeeds.php && /usr/bin/php /var/www/crumpler.eu/scripts/feedGenerator/generateSitemap.php
